/*reset*/

html,body,div,p,h1,h2,h3,a,img,ul,li,span {
    border:none;
    list-style: none;
    margin:0;
    padding:0;
}
section,header,nav,aside,footer {
    display: block;
}
html,body {
    width: 100%;
    background: #fff;
    color: #0f2a36;
    font-size: 105%;
    line-height: 1.4286;
    font-family: 'Open Sans', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 6em;
    font-weight: 900;
}
h2{
    font-style: italic;
    color: #dd3b2a;
    font-size: 1.5em;
    font-weight: 400;
}
h3{
    color: #dd3b2a;
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    margin: 0.5em 0;
    font-size: 2.5em;
    font-weight: 700;
}
a {
    color: #2babe1;
    text-decoration: none;
}
p {
    margin-bottom: 1em;
}

/*section*/

.intro {
    background: #edf6ff;
    background: -webkit-linear-gradient(top,#fff 0%,#edf6ff 100%);
    background: -moz-linear-gradient(top,#fff 0%,#edf6ff 100%);
    background: -ms-linear-gradient(top,#fff 0%,#edf6ff 100%);
    background: -o-linear-gradient(top,#fff 0%,#edf6ff 100%);
    background: linear-gradient(to bottom,#fff 0%,#edf6ff 100%);
    width: 100%;
    height: 590px;
}
.intro h1 {
    color: #00374f;
    position: relative;
    z-index: 2;
}
header {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}
/*.intro h1:after {*/
    /*display: block;*/
    /*background: #dd3b2a;*/
    /*content: "";*/
    /*height: 2px;*/
    /*width: 100%;*/
    /*margin-left: auto;*/
    /*margin-right:auto;*/
    /*position: absolute;*/
    /*margin-top: -8%;*/
    /*left: 0;*/
    /*z-index: -2;*/
/*}*/
/*.intro h1:before {*/
    /*display: block;*/
    /*background: #fff;*/
    /*content: "";*/
    /*height: 4px;*/
    /*width: 72%;*/
    /*margin-left: auto;*/
    /*margin-right:auto;*/
    /*position: absolute;*/
    /*margin-top: 5%;*/
    /*left: 14%;*/
    /*z-index: -1;*/
/*}*/
.intro h2 {
    width: 100%;
    max-width: 695px;
    margin: 0 auto;
    text-align: right;
    z-index: 2;
}
.summary {
    max-width: 1040px;
    margin: 15% auto 0;
    position: relative;
    z-index: 2;
}
.summary p{
    width: 30%;
    color: #dd3b2a;
    font-style: italic;
    font-size: 1.2em;
    position: absolute;
    right: 0;
}
.summary p:nth-child(1) {
    bottom: 0;
}
.preamble {
    width: 37%;
    position: absolute;
    top:600px;
    left: 8%;
    z-index: 1;
}

/*main*/

.supporting {
    border-top:5px solid #dd3b2a;
    background: rgba(255,255,255,0.9);
    border-bottom: 5px solid #2babe1;
    width: 100%;
    clear: right;
    z-index: 4;
}

.explanation {
    float: right;
    width: 50%;
    margin-bottom: 130px;
}
.participation {
    clear: right;
    background: #edf6ff;
    border-top: 5px solid #cce4fb;
    padding-left: 8%;
    padding-right: 50%;
    padding-bottom: 11%;

}
.participation:after {
    display: block;
    width: 412px;
    height: 412px;
    content: "";
    background: url("participation.png") no-repeat top right;
    position: absolute;
    right: 13%;
    margin-top:-23%;
}
.benefits {
    border-bottom: 5px solid #cce4fb;
    background: #edf6ff;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 50%;
    position: relative;
}
.benefits:before {
    display: block;
    content: "";
    width: 20%;
    background: #dd3b2a;
    height: 2px;
    position: absolute;
    left: 40%;
}
.benefits:after {
    display: block;
    content: "";
    width: 312px;
    height: 312px;
    background: url("benefits.png") no-repeat left top;
    position: absolute;
    left: 20%;
    top: 35%;
}
.benefits h3 {
    margin-top: 15%;
}
.requirements {
    margin-left: 8%;
    text-align: center;
}
.requirements p {
    float: left;
    width: 50%;
    text-align: left;
}
.requirements p:last-child {
    font-size: 1.4em;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    padding: 5% 22.5% 20px;

}
footer {
    clear: both;
    background: #00374f;
    text-align: center;
    font-size: 1.3em;
    padding: 1% 0;
}
footer a {
    padding: 0 10px;
    color: #fff;
}
/*aside:before {*/
    /*content: "";*/
    /*display: block;*/
    /*position: fixed;*/
    /*width: 923px;*/
    /*height: 921px;*/
    /*background: url("starburst.png") no-repeat top center;*/
    /*top:80px;*/
    /*margin-left: 140px;*/
    /*background-size: 60%;*/
    /*z-index: 0;*/
/*}*/
.sidebar {
    background: #2babe1;
    color: #fff;
    border-top: 5px solid #edf6ff;
    padding-bottom: 2%;
}
.sidebar>div{
    color: #00374f;
    padding-left: 8%;
    padding-top: 5%;
}
.sidebar ul li {
    margin-bottom: 1.5%;
}
.sidebar a{
    color: #00374f;
}
.sidebar a.design-name{
    display: block;
    color: #fff;
    margin-bottom: -6px;
}
.sidebar h3 {
    color: #00374f;
    font-size: 1.5em;
}
.sidebar .design-selection {
    width: 50%;
    float: left;
    border-right: 2px solid #edf6ff;
    margin-right: 10%;
    padding-bottom: 6%;
}